<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body{background: #e4e2e8
        }
        .footer{
            width: 70%;
            height: 1px;
            background: #807b81;
            position: relative;
            top:200px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            text-align: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="footer">
    <p>和世界交手的这许多年，你是否光彩依旧，兴致盎然。</p>
    <p>Make by Su</p>
    <p></p>
</div>
</body>
</html>