<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}杂想集{% endblock %}</title>
    <style type="text/css">
        body{margin: 0px}

        #box{}
        .text{
            padding:0px;
            width: 120px;
            height: 50px;
            text-align: center;
            color: #434343;
            align-items: center;
            vertical-align:middle;
            display:table-cell;
            font-size: 20px;
        }
    </style>
</head>
<body>
<img src="/static/img/head.jpg" style="background:center;height: 140px;width: 100%;display: block">
<div style="background: #dc1602;width: inherit;height: 2px;position: relative;top: 0;padding: 0px" ></div>
<div style="background: #a4a6a8; width: inherit;height: 50px;">

    <a href={% url 'home' %}>
        <div class="text" >杂</div></a>
    <a href={% url 'blog:blog' %}>
        <div class="text">笔记</div></a>
    <a href={% url 'music:music' %}>
        <div class="text">音乐</div></a>
    <a href={% url 'book:book' %}>
        <div class="text">书籍</div></a>
    <a href={% url 'think:think' %}>
        <div class="text">想法抽奖</div></a>
</div>
</body>
</html>