<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}杂乱集{% endblock %}</title>
    <style type="text/css">
        body{margin: 0px}

        #box{}
        .text{
            padding:0px;
            width: 120px;
            height: 50px;
            text-align: center;
            color: #434343;
            align-items: center;
            vertical-align:middle;
            display:table-cell;
            font-size: 20px;
        }

    </style>

</head>
<body>
<img src="navigation/templates/1506243423_792864.png" style="background:center;height: 130px;width: inherit">
<div style="background: #dc1602;width: inherit;height: 3px"></div>
<div style="background: #a4a6a8; width: inherit;height: 50px;">
    <a href="">
        <div class="text" >杂</div></a>
    <a href="">
        <div class="text">笔记</div></a>
    <a href="wenzhang.html">
        <div class="text">音乐</div></a>
    <a href="">
        <div class="text">书籍</div></a>
    <a href="">
        <div class="text">想法抽奖</div></a>

</div>
</body>
</html>